* {
  margin: 0;
  padding: 0;
  user-select: none;
  list-style: none;
}
body {
  position: relative;
}
body header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(178deg, #264d96, #347ec7);
  color: #ffffff;
  font-size: 16px;
  line-height: 50px;
  z-index: 1;
}
body header .left {
  text-align: center;
  float: left;
  width: 102px;
  height: 50px;
}
body header .left img {
  vertical-align: middle;
  width: 21px;
  height: 21px;
}
body header .right {
  float: right;
  height: 50px;
  margin-right: 20px;
}
body header .right img {
  vertical-align: middle;
  width: 21px;
  height: 21px;
}
body section .map {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
}
body section .top_bottom {
  background-color: #FFF;
  width: auto;
  right: 0;
  top: 51px;
  height: 24px;
  overflow: auto;
  z-index: 20;
  position: absolute;
}
body section .top_bottom .lonLat {
  float: left;
  background-color: transparent;
  width: 150px;
  font-size: 13px;
  height: 24px;
  line-height: 24px;
}
body section .top_bottom .lonLat .longitute {
  text-align: center;
  display: inline-block;
  background-color: transparent;
  width: 65px;
  font-size: 13px;
  height: 20px;
  border: 1px solid #347EC7;
  line-height: 20px;
}
body section .top_bottom .lonLat .latitude {
  text-align: center;
  display: inline-block;
  background-color: transparent;
  width: 55px;
  font-size: 13px;
  height: 20px;
  border: 1px solid #347EC7;
  line-height: 20px;
}
body section .top_bottom .lonLat .map_point {
  width: 12px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 5px;
  margin-top: -3px;
  background: url('../img/location.png') no-repeat;
}
body section .top_bottom .top_right_tool_div {
  padding-left: 5px;
  width: 80px;
  height: 24px;
  float: left;
  cursor: pointer;
}
body section .top_bottom .top_right_tool_div .top_right_tool_img {
  height: 20px;
  width: 20px;
  float: left;
  display: inline-block;
}
body section .top_bottom .top_right_tool_div .top_right_tool_text {
  height: 24px;
  width: 60px;
  display: inline-block;
  float: left;
  color: #000;
  font-size: 13px;
  line-height: 24px;
}
body section .top_bottom .top_right_tool_div .default_map_text {
  width: 55px;
  margin-left: 5px;
}
body section .top_bottom .top_right_tool_div .drop_icon {
  background: url("../img/xiala.png") no-repeat;
  width: 12px;
  height: 7px;
  display: inline-block;
}
body section .top_bottom .top_right_tool_div .tool_text {
  margin-left: 5px;
  width: 55px;
}
body section .top_bottom .w100 {
  width: 100px;
}
body section .top_bottom .tool_img {
  background: url(../js/map/drawler/img/tool.png) 5px 2px no-repeat;
}
body section .top_bottom .analysis {
  width: 100px;
}
body section .top_bottom .analysis_img {
  background: url(../js/map/drawler/img/scene_gray.png) 5px 2px no-repeat;
}
body section .top_bottom .lat_and_long_img {
  background: url(../js/map/drawler/img/defaultMap.png) 5px 2px no-repeat;
}
body section .top_bottom .default_map {
  width: 100px;
}
body section .top_bottom .default_map_img {
  background: url(../js/map/drawler/img/latAndLong.png) 5px 2px no-repeat;
}
body section .default_map_menu {
  top: 75px;
  right: 0;
  position: absolute;
  font-size: 12px;
  height: 55px;
  padding-left: 5px;
  width: 100px;
  background: #FFF;
  overflow: hidden;
  z-index: 25;
}
body section .default_map_menu .default_map_menu_div {
  height: 24px;
  cursor: pointer;
  background: url("../img/adDivIcon.png") 5px 2px no-repeat;
}
body section .default_map_menu .default_map_menu_div .top_right_tool_img {
  height: 20px;
  width: 20px;
  float: left;
  display: inline-block;
}
body section .default_map_menu .default_map_menu_div .default_map_menu_text {
  height: 24px;
  line-height: 24px;
  margin-left: 10px;
}
body section .default_map_menu .image_map_menu_div {
  height: 24px;
  cursor: pointer;
  background: url(../js/map/drawler/img/imageMap.png) 5px 2px no-repeat;
}
body section .default_map_menu .image_map_menu_div .top_right_tool_img_right {
  margin-left: 35px;
}
body section .default_map_menu .image_map_menu_div:hover,
body section .default_map_menu .image_map_menu_divChecked {
  background: url(../js/map/drawler/img/imageMapCheck.png) 5px 2px no-repeat;
}
body section .menu-wrap {
  position: relative;
  z-index: 1;
  top: 60px;
  margin-left: -470px;
  width: 510px;
  height: 490px;
  color: #ffffff;
  font-size: 16px;
  overflow: hidden;
  padding-bottom: 8px;
}
body section .menu-wrap .menu-inner {
  width: 470px;
  float: left;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 0px 5px #555;
  border-radius: 5px;
}
body section .menu-wrap .menu-inner .menu-inner-left {
  font-size: 18px;
  width: 40px;
  float: left;
  overflow: hidden;
}
body section .menu-wrap .menu-inner .menu-inner-left .menu-quyu {
  padding: 100px 10px;
  width: 20px;
  overflow: hidden;
  height: 40px;
  background: linear-gradient(178deg, #264d96, #347ec7);
}
body section .menu-wrap .menu-inner .menu-inner-left .menu-leixing {
  float: left;
  background: linear-gradient(178deg, #264d96, #347ec7);
  overflow: hidden;
  margin-top: 10px;
  padding: 85px 10px;
  width: 20px;
  height: 70px;
}
body section .menu-wrap .menu-inner span {
  overflow: hidden;
  float: left;
  display: inline-block;
  width: 90px;
  height: 34px;
  background-color: #999999;
  margin: 10px 0 0 10px;
  border-radius: 5px;
  line-height: 34px;
  text-align: center;
}
body section .menu-wrap .menu-inner span.hide_span {
  background: linear-gradient(178deg, #264d96, #347ec7);
}
body section .menu-wrap .menu-inner .menu-quyu-inner {
  overflow: hidden;
  padding: 10px 0 0 5px;
  float: left;
  width: 420px;
  height: 480px;
  background-color: #f5f9f5;
}
body section .menu-wrap .menu-inner .menu-leixing-inner {
  display: none;
  overflow: hidden;
  padding: 10px 0 0 5px;
  float: left;
  width: 420px;
  height: 480px;
  background-color: #f5f9f5;
}
body section .menu-wrap .menu-inner .menu-leixing-inner span {
  width: 192px;
}
body section .menu-wrap .menu-title {
  float: left;
  margin-top: 290px;
  padding: 10px;
  width: 20px;
  background: linear-gradient(178deg, #264d96, #347ec7);
}
body section .menu-wrap .menu-title img.arrow {
  transform: rotate(180deg);
}
body section .station_list {
  display: none;
  font-size: 13px;
  overflow: hidden;
  width: 230px;
  max-height: 500px;
  box-shadow: 0px 0px 5px #555;
  background-color: #ffffff;
  border-radius: 3px;
  position: absolute;
  right: 0;
  top: 100px;
}
body section .station_list .station_select {
  padding: 20px;
  width: 200px;
}
body section .station_list .station_select .title {
  width: 62px;
  display: inline-block;
}
body section .station_list .station_select input {
  width: 100px;
}
body section .station_list .station_title span {
  width: 33.33%;
  display: inline-block;
  text-align: center;
}
body section .station_list .station_message {
  margin: 10px 0;
  overflow-y: auto;
  max-height: 400px;
}
body section .station_list .station_message li {
  line-height: 25px;
  height: 25px;
  font-size: 0px;
}
body section .station_list .station_message li:nth-of-type(odd) {
  background-color: #E3F1FC;
}
body section .station_list .station_message li:hover {
  background-color: #f5f5f5;
}
body section .station_list .station_message li span {
  overflow-y: hidden;
  font-size: 13px;
  width: 33.33%;
  height: 100%;
  display: inline-block;
  text-align: center;
}
body section .station_list .station_message li.active_hide {
  background: linear-gradient(178deg, #264d96, #347ec7);
  color: #ffffff;
}
